<div class="container-fluid text-center margin">
  <div class="panel-heading">
    <h2>Room List</h2>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-secondary">
      <thead>
        <tr>
          <th>Name</th>
          <th>Subject</th>
          <th>Date</th>
          <th>StartHour</th>
          <th>EndHour</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of rooms | async">
          <td>{{room.name}}</td>
          <td>{{room.subject}}</td>
          <td>{{room.date}}</td>
          <td>{{room.startHour}}</td>
          <td>{{room.endHour}}</td>
          <td><button (click)="deleteRoom(room.id)" class="btn btn-danger">Delete</button>
              <button (click)="updateRoom(room.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="roomDetails(room.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

